/* Moderní box model - nastavená šířka boxu je včetně paddingu a borderu */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
sTo nahoře je černá magie, na to raději nešahej.
Ale sem dolů už si můžeš psát, co budeš chtít.

Tohle je mimochodem opět komentář, ale v CSS.
Začíná a končí trochu jinak než v HTML, ale
princip je stejný.
------------------------------------------------
*/

html {
  scroll-behavior: smooth;
}
h1 {
  color: white;
  font-size: 80px;
  margin: 0;
  padding: 120px 40px;
  background: url("obrazky/hlavicka.jpg") center center no-repeat;
  background-size: cover;
  /*bckgd-size musí být pod background, jinak to roztažení nefunguje*/
}

h2 {
  color: #756158;
  font-size: 48px;
}

h1, h2, h3 {
  font-family: serif;
  font-style: italic;
  text-align: center;
}

h3 {
  font-size: 24px;
}

a {
  color: #756158;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

section {
  background-color: yellow;
  overflow: auto;
}

.omne, .pruvodce {
  background-color: #fff1e6;
} 

.fotogalerie, .kontakt {
  background-color: #f9e3d0;
}

/*asi je lepší mít jako classy ty sekce, abych mohla nastavit víc věcí, než pozadí--!>
*/

.omne, .pruvodce{
  background-color: #f0e9e4;
}

.fotogalerie, .kontakt {
  background-color: #f9e3d0;
}

/*section.omne p {
  
}

.omne p {

}

všechny odstavce v sekci o mně
*/

/*hover - přejetí myší
focus - aktivace klávesnicí
visited - navštívěný odkaz
active - když stisknu myší na link
*/

.box {
  background-color: red;
  height: 50%;
  width: 50%;
}


.fotogalerie img {
  width: 32%;
  border: 2px solid #756158;
  border-radius: 10px 0 0 10px;
}

.omne img { 
  border-radius: 50%;
  width: 150px;
  float: left;
  margin-right: 30px;
}

.fotogalerie img {
  height: 50%;
  width: 30%;
  border-radius: 10px;
}

.pruvodce img {
  height: 70%;
  width: 40%;
  border-radius: 0px 50px 50px 50px;
  float: right;
  margin-left: 30px;
}

.kontakt img {
  height: 70%;
  width: 40%;
  border-radius: 50px 0 50px 50px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.btn {
  color: #faba20;
  background-color: black;
  border: 2px solid #faba20;
  border-radius: 15px;
  /* padding: 15px; */
  /* padding: 5px 15px 5px 15px; */
  padding: 5px 15px;
  text-decoration: none;
}

.btn:hover {
  color: black;
  background-color: #faba20;
}

section {
	padding: 50px 15%;
}

footer {
  padding: 20px 0;
  text-align: center;
  background-color: #282425;
  color: white;
}

nav {
  text-align: center;
  padding: 30px;
  background-color: #282425;
  border-top: 2px solid #9c8175;
}

nav a {
  padding: 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

nav a:hover {
  background-color: #756158;
  border-bottom: 3px solid yellow;
}

table {
  font-size: 22px;
  border-spacing: 0;
}

th, td {
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid #756158;
}
.cena {
  text-align: right;
  padding-left: 40px;

}